.float-right-image {
  float: right;
  margin-left: 20px; 
  margin-bottom: 20px; 
  width: 250px; 
  border-color: rgb(236, 27, 12);
  border-radius: 15px;
  border-width: 4px;
  border-style: solid;
  height: 150px;
}
#contain{
  width:auto;
  margin: auto;
  padding: 8px;
}
p{
  line-height: 1.5em;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
body{
  background-color: #274060;
  color: #CAD2C5;
  font-family: sans-serif;
  overflow-x: hidden;
}
a:link{
  color: white;
}
a:visited{
  color: inherit;
}
a:hover{
  color: blue;
}
#cyp{
  border:none;
}
#sidebar{
  float:right;
  margin: 8px;
  border-radius: 6px;
  border-color: rgb(83, 221, 104);
  border-radius: 15px;
  border-width: 4px;
  border-style: solid;
  height: 150px;
  padding: 10px 10px 20px 20px;
  background: black;
}
@media (max-width: 1200px) {
  #contain {
    max-width: 1200px; 
    width: 100%; 
    background-color: #374060;
  }
}

@media (max-width: 992px) {
  #contain {
    max-width: 992px;
    width: 100%;
    background-color: #474060;
  }
}

@media (max-width: 792px) {
  #contain {
    background-color: black;
    width: 95%; 
  }
}
#music{
  display:none;
}